<html>
    <head>
        <meta charset="utf-8">
        <base href="/">
        <!-- For stupid Favico 500 internal server error -->
        <title>Magic the Gathering Helper</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <!-- Font-Awesome Library -->
        <link rel="stylesheet" href="./css/font-awesome.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="./css/master.css">

        <!-- jQuery -->
        <script src="./js/jquery.min.js"></script>
        <!-- Angular Framework -->
        <script src="./angular/angular.min.js" charset="utf-8"></script>
        <script src="./angular/angular-route.min.js" charset="utf-8"></script>
        <!-- My Angular -->
        <script src="./angular/master.js" charset="utf-8" defer></script>
    </head>
    <body ng-app='app'>
        <!-- <div ng-view="">Oops something went wrong, please try refreshing.</div> -->
        <div ng-controller="mtgController" class="container">
            <div ng-show="loading" class="jumbotron"><h1>Loading...</h1><p>This may take a while depending on internet connection...</p></div>
            <div ng-hide="loading" class="row">
                <div class="menu col-md-4">
                    <h3>Search for Card</h3>
                    <div class="row">
                        <form ng-submit="addCard()" id="cardForm">
                            <div class="form-group">
                                <label for="new_card_input">Card Name</label>
                                <input
                                    ng-model="new_card" ng-change="searchCard()"
                                    id="new_card_input" class="form-control"
                                    ng-keydown="updateIndex()" aria-describedby="newCardHelp"
                                    placeholder="Card Name" autocomplete="off">
                                <small id="newCardHelp" class="form-text text-muted">Type a card name, and then select a card. 'Enter' to select the first one. (Not case sensitive)</small>
                            </div>
                        </form>
                    </div>
                    <div class="row possibleCards">
                        <div
                            ng-repeat="(index, card) in possibleCard track by $index"
                            class="col-md-11 possibleCard" id="card_{{index}}"
                            ng-click="checkCard(card)"
                            ng-bind="card">
                        </div>
                    </div>
                </div>
                <div class="currCard col-md-8">
                    <h3 id="cardName" ng-bind="currentCard.name"></h3>
                    <table class="table">
                        <tbody>
                            <!-- Cost -->
                            <tr>
                                <th scope="row" class="col-md-2">Cost</th>
                                <td ng-bind="currentCard.manaCost"></td>
                            </tr>
                            <!-- Type -->
                            <tr>
                                <th scope="row" class="col-md-2">Type</th>
                                <td ng-bind="currentCard.type"></td>
                            </tr>
                            <!-- Toughness & Power -->
                            <tr ng-if="currentCard.power">
                                <th scope="row" class="col-md-2">Power/Toughness</th>
                                <td ng-bind="currentCard.power+' / '+currentCard.toughness" ng-if="currentCard.power"></td>
                            </tr>
                            <!-- Loyalty -->
                            <tr ng-if="currentCard.loyalty">
                                <th scope="row" class="col-md-2">Loyalty</th>
                                <td ng-bind="currentCard.loyalty"></td>
                            </tr>
                            <!-- Text of Card -->
                            <tr>
                                <th scope="row" class="col-md-2">Text</th>
                                <td ng-bind="currentCard.text"></td>
                            </tr>
                            <!-- Legalities -->
                            <tr ng-if="currentCard.legal">
                                <th scope="row">Legal</th>
                                <td ng-bind="currentCard.legal"></td>
                            </tr>
                            <tr ng-if="currentCard.banned">
                                <th scope="row">Illegal</th>
                                <td ng-bind="currentCard.banned"></td>
                            </tr>
                            <tr ng-if="currentCard.restricted">
                                <th scope="row">Restricted</th>
                                <td ng-bind="currentCard.restricted"></td>
                            </tr>
                            <!-- Rulings -->
                            <tr ng-show="currentCard.rulings">
                                <th scope="row" ng-click="rulings=!rulings" ng-hide="rulings" class="rulings">Rulings +</th>
                                <th scope="row" ng-click="rulings=!rulings" ng-show="rulings" class="rulings">Rulings -</th>
                            </tr>
                            <tr ng-repeat="(key, value) in currentCard.rulings" ng-show="rulings">
                                <th scope="row" class="col-md-2"></th>
                                <td ng-bind="value.date+'\n'+value.text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </body>
</html>
